<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="./login.css" />
    </head>
    <body>

            <div class="boxLogin">
                <div class="content">
					<div class="title">LOGIN FORM</div>
                    <input type="text " class = "a input" placeholder="username" />
                    <input type="text " class = "a input" placeholder="password" />
                    <div class="responsive a">
						<div class="ctRes">Success!</div>
					</div>
                   <button class="button a" onclick="">LOGIN</button>
                </div>

                <div class="more a">
                    <a id="forgotPassword" href="./forgotPassword.html">forgot password</a>
                    <a href="./register.html">register</a>
                </div>
            </div>

    </body>

	<script src="./login.js"></script>
</html>
