<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>TOKEN</title>
	<link rel="stylesheet" href="./forgotPassword.css" />
</head>

<body>
	<div class="boxForgot">
		<div class="content">
			<div class="title">TOKEN</div>
			<input type="text " class="a input" placeholder="enter token..." />
			<input type="text " class="a input" placeholder="enter new password..." />
			<div class="responsive a">
				<div class="ctRes">Success!</div>
			</div>
			<button class="button a">SUBMIT</button>
		</div>	
	</div>
</body>

<script src="./forgotPassword.js"></script>

</html>